.header .social{
    display: none;
}
.header{
    grid-template-columns: 1fr;
    justify-items: center;
}
.editors-pick{
    grid-template-columns: 1fr 1fr;
}
.about-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
}
#about{
    margin: auto;
    text-align: center;
    align-self: center;
    width:80%;
}
.join{
    width:80%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
}
.page{
    margin-top: 25px;
    display: block;
}
.article-container{
    width:80%;
}
.cate{
    margin: auto;
    width: 80%;
}
@media (max-width:600px){
    .footer{
        display: block;
    }
    .footer >*{
        margin:auto;
        width:80%;
        border-bottom: solid #444 2px;
    }
    .footer>* :last-child{
        border-bottom:none;
    }
    .editors-pick{
        display: grid;
        grid-template-columns: 1fr;
    }
}

